<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springmvc.dao.ItemsMapper">

	<resultMap id="ItemsResultMap" type="com.springmvc.entity.Items" >
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
		<result column="PRICE" property="price" jdbcType="DECIMAL" />
		<result column="DETAIL" property="detail" jdbcType="VARCHAR" />
		<result column="PIC" property="pic" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		ID, NAME, PRICE, DETAIL, PIC
	</sql>

	<sql id="query_items_where">
		<if test="id != null and id != ''">
			and ID = #{id,jdbcType=VARCHAR}
		</if>
		<if test="name != null and name != ''">
			and NAME like "%"#{name,jdbcType=VARCHAR}"%"
		</if>
	</sql>

	<select id="queryItems" parameterType="com.springmvc.entity.Items" resultMap="ItemsResultMap">
		select
		<include refid="Base_Column_List" />
	 	from items
		<where>
			<include refid="query_items_where"/>
		</where>
	</select>

	<select id="queryItemsById" parameterType="com.springmvc.entity.Items" resultType="com.springmvc.entity.Items">
		select
		<include refid="Base_Column_List" />
		from items
		where ID = #{id,jdbcType=VARCHAR}
	</select>

	<update id="updateItemById" parameterType="com.springmvc.entity.Items">
		update items
		<set >
			<if test="name != null and name != ''" >
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="price != null and price != ''" >
				PRICE = #{price,jdbcType=DECIMAL},
			</if>
			<if test="detail != null and detail != ''" >
				DETAIL = #{detail,jdbcType=VARCHAR},
			</if>
			<if test="pic != null and pic != ''" >
				PIC = #{pic,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>


</mapper>